<!doctype html>
<header>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="shortcut icon" href="http://www.atc.chula.ac.th/picture/PPSCL.gif">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-color.css" >
    
    <style>

    </style>
        <meta charset="utf-8">
    </header> 

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">PP-BOT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">หน้าแรก <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/announce">ประกาศ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/Broadcast">แอดมิน <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
          <form class="form-inline" action="{{ url_for('admin_page.page_admin') }}">
          <div class="col-11" style="margin: 20px; text-align: right;">
            <select class="col-8 browser-default custom-select my-auto" name="getidname" id="getidname" href="#">
              {% for i in userlist.each() %}  
                  {% if i.val()['userName'] %}
                   {%if i.key() == select %}
                    <option class="dropdown-item" value="{{i.key()}}" selected>{{i.val()["userName"]}}</option>
                   {%else%}
                   <option class="dropdown-item" value="{{i.key()}}">{{i.val()["userName"]}}</option>
                   {%endif%}
                  {% endif %}
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Go</button>
          </div>
        </form>
        <div class="col-11" style="text-align: center; background-color: gray;border-radius: 20px 20px 0px 0px;">
        {%block content%}
          {% if chatlist is not none %}
            {% for i in chatlist.each() %}
            {%print(i.val()[0])%}
              <label >{{i.val()}}</label>
            {% endfor %}
          {% endif %} 
        {% endblock content %}
        </div>
          
    </body>
</html>