<!doctype html>
<header>
    <title>Broadcast Line Bot</title>
    <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
    
    <style>
        .container {
        display: flex;
        justify-content: center;
        }
       .Center{
        position: absolute;
        top: 50%;
       }
       .bgpage{
           padding: 20px;
           background-color: mediumseagreen;   
       }
       .header{
           color: #FFFF;
       }
    </style>
        <meta charset="utf-8">
    </header>  
    <body style="background-color: white;">
        <div class="container">
            <div class="Center">
                <div class="bgpage">
                    <img src="https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.atc.chula.ac.th%2Findex2.html&psig=AOvVaw0-8AlN6I6tPBld9RRVocc9&ust=1597643738991000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMDJtu-En-sCFQAAAAAdAAAAABAD" />
                    <h1 class="header">ระบบประกาศผ่านไลน์บอท</h1>
                </div>
              </div>
        </div>
    </body>
    
      

</html>