<!doctype html>
<header>
    <title>Broadcast Line Bot</title>
    <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
    
    <style>
        .container {
        display: flex;
        justify-content: center;
        }
       .Center{
        position: absolute;
        top: 50%;
       }
       .bgpage{
           padding: 20px;
           background-color: mediumseagreen;   
       }
       .header{
           color: #FFFF;
       }
    </style>
        <meta charset="utf-8">
    </header>  
    <body style="background-color: white;">
        <div class="container">
            <div class="Center" style="align-content: center;">
                <div class="bgpage">
                    <img src="http://www.atc.chula.ac.th/picture/PPSCL.gif">
                    <h1 class="header">ระบบประกาศผ่านไลน์บอท</h1>
                    <input hidden="คำประกาศ">
                </div>
              </div>
        </div>
    </body>
    
      

</html>