<!doctype html>
<header>
    <meta charset="utf-8">
    <title>Broadcast Line Bot</title>
    <link rel="shortcut icon" href="http://www.atc.chula.ac.th/picture/PPSCL.gif">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .container {
        display: flex;
        justify-content: center;
        }
       .Center{
        position: absolute;
        top: 20%;
       }
       .bgpage{
            padding: 20px;
            border-radius: 30px;
        }
       .header{
           color: #FFFF;
       }
    </style>
        <meta charset="utf-8">
    </header> 
     <body>

        <div class="row h-100">
            <div class="col-sm-12 my-auto">
              <div class="card card-block w-25">Card</div>
            </div>
         </div>
            
    </body>
</html>